{% extends "layout.html" %}
{% block content %}
<form action="/signup" method="POST">
    <div class="form-group">
        <label for="Inputname">ID</label>
        <input type="text" class="form-control" id="Inputname" name="usernames">
    </div>
    <div class="form-group">
        <label for="Inputdisplayname">表示名</label>
        <input type="text" class="form-control" id="Inputdisplayname" name="displaynames">
    </div>
    <div class="form-group">
        <label for="InputPassword">パスワード</label>
        <input type="password" class="form-control" id="InputPassword" name="passwords">
    </div>



    <!--<div class="form-group">
        <label for="Inputroll">roll</label>
        <input type="checkbox" id="Inputroll" name="rolls">
    </div>-->
    <div class="form-group">
        <p>Oとoと0、Iとiと1、bと6、qとgと9、qとp、Kとk、半角全角、スペースなどの間違い注意！</p>
    </div>
    <button type="submit" class="btn btn-primary">登録する</button>
</form>
{% endblock %}